
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;


  --color-blue: #00bcd4;
  --color-green: #147a44;
  --color-white: #fafafa;
  --color-orange: #f49b75;
  --color-black: #080101;
  --color-grey: #ccc;

  --font-handwritten: 'Caveat', cursive;
}

body {
  background-color: var(--color-orange);
  background-image: url('https://cdn.pixabay.com/photo/2013/07/12/13/24/leaves-146984_960_720.png');
  background-size: contain;
  background-repeat: no-repeat;
}

main{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(0, 400px));
  gap: 10rem;
  justify-content: center;
  align-content: center;
}

h1{
  font-family: var(--font-handwritten);
  font-size: 10rem;
  font-weight: bold;
  line-height: 7rem;
  color: var(--color-white);
  text-align: center;
  margin-top: 10rem;
  padding: 0;
}